html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.hidden
{
  display: none;
}
main
{
  /* center contents */
  margin: 0 auto;
}
.answerFeedback
{
  font-size: 2rem;
}

.currentDoggo
{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doggoImg
{
  object-fit: contain;
  max-width:100%;
  max-height:100%;
}
.breedButton
{
  width: 200px;
}
.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.doggoPile
{
  width:100px;
}
.doggoPileText
{
  font-size: 11px;
}
