


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.hidden
{
  display: none;
}
main
{
  /* center contents */
  margin: 0 auto;
}

#countdownOverlay
{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlayContent
{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
#countdownMsg
{
  font-size: 2rem;
  color: white;
}

#toggleSound
{
  position: fixed;
  top: 80px;
  left: 20px;
}
.answerFeedback
{
  font-size: 2rem;
}

.currentDoggo
{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doggoImg
{
  object-fit: contain;
  max-width:100%;
  max-height:100%;
}
.breedButton
{
  width: 200px;
}
.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.doggoPile
{
  width:100px;
}
.doggoPileText
{
  font-size: 11px;
}
#db-score
{
  font-weight: bold;
}
#db-user, #favBreed
{
  width: 200px;
}
#db-user-error-msg, #db-favBreed-error-msg
{
  height: 1rem;
}
.btn-danger
{
  background-color: #E47790;
  border-color: #E16682;
  color: white;
}
.btn-danger:hover
{
  background-color: #E47790;
  border-color: #E16682;
  filter: brightness(0.9);
}
.btn-danger:active
{
  background-color: #E47790;
  border-color: #E16682;
  filter: brightness(1.1);
}


#gameReset, #highscoresButton
{
}

#hsnewGame
{
  position: fixed;
  bottom: 50px;
  right: 50px;
}


/* text transition by me */

@-webkit-keyframes textScaling /* Safari and Chrome */ {
  from {
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
}
@keyframes textScaling {
  from {
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
}
.textScaling {
  -webkit-animation: textScaling 1s ease-out infinite;
  -moz-animation: textScaling 1s ease-out infinite;
  -ms-animation: textScaling 1s ease-out infinite;
  -o-animation: textScaling 1s ease-out infinite;
  animation: textScaling 1s ease-out infinite;

}



/* https://stackoverflow.com/questions/6410730/css-endless-rotation-animation */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s ease-out infinite;
  -moz-animation: rotating 2s ease-out infinite;
  -ms-animation: rotating 2s ease-out infinite;
  -o-animation: rotating 2s ease-out infinite;
  animation: rotating 2s ease-out infinite;
}

ul.boneList {
  list-style:none;
  padding-left: 2em;
  list-style-image: url(bone-solid.svg);
}


#mJu
{
  -webkit-animation: changeColor 5s linear infinite;
  animation: changeColor 5s linear infinite;
}
@-webkit-keyframes changeColor {
  0% { color: #f99; }
  33% { color: #9f9; }
  67% { color: #99f; }
  100% { color: #f99; }
}
@keyframes changeColor {
  0% { color: #f99; }
  33% { color: #9f9; }
  67% { color: #99f; }
  100% { color: #f99; }
}

@media (max-width: 1001px)
{
  .currentDoggo
  {
    height: 300px;
  }
}
