{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block head%}
  <link href="/static/styles/breedStyles.css" rel="stylesheet">
{% endblock %}


{% block main %}
  <div id="summaryState">

    <h5 class="pileText" id="">I have guessed these doggos correctly:</h5>
    <div id="correctDoggoPile" class="row ml-2 d-flex">
      {% for entry in dbData:%}
        {% if entry["direction"] == 1: %}
          <a target="_blank" href="{{ entry["link"] }}">
            <img class="doggoPile" src={{ entry["link"] }}></img>
          </a>
        {% endif %}
      {% endfor %}
    </div>
    <h5 class="pileText mt-4" id="">Haaa... are these even dogs?</h5>
    <div id="incorrectDoggoPile" class="row ml-2 d-flex">
      {% for entry in dbData:%}
        {% if entry["direction"] == 0: %}
        <a target="_blank" href="{{ entry["link"] }}">
          <img class="doggoPile" src={{ entry["link"] }}></img>
        </a>
        {% endif %}
      {% endfor %}
    </div>
    <hr/>

    <h6> I have scored {{ score[0]['score'] }}. Can you beat my score?</h6>
    <button id="PlayTheGame" onclick="window.open('/breedQuiz','_self');" class="myButton">
      <i class="mr-2 fas fa-bone"></i>
      Play Breed Quiz
    </button>

  </div>

  <script>
  </script>

{% endblock %}
