{% extends "layout.html" %}

{% block title %}
    highscores
{% endblock %}

{% block main %}
  <h1>Highscores:</h1>
  <table class="table table-striped">

    <thead>
      <tr>
        <th>#</th>
        <th>Nickname</th>
        <th>Bones</th>
        <th>Favourite breed</th>
        </tr>
    </thead>

    <tbody>
      {% for score in hscores: %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{score["username"]}}</td>
          <td>{{score["score"]}}</td>
          <td>{{score["favbreed"]}}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

  <a href="/"><button>restart</button></a>

{% endblock %}
