{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}

  <div id="countdownOverlay">
    <div class="overlayContent">
      <div class="mx-auto" id="boneCircleContainer"></div>
      <p class="" id="countdownTooltip"></p>
    </div>
  </div>

  <div id="gameState">
    <div id="dog-container" class="text-center">

      <div id="notHotOverlay" class="interactionOverlay">
        <i id="xicon" class="hotornoticon fas fa-times"></i>
      </div>

      <div id="hotOverlay" class="interactionOverlay">
        <i id="heartIcon" class="hotornoticon fas fa-heart"></i>
      </div>

      <div id="nextOverlay" class="interactionOverlay hidden">
        <i id="nextIcon" class="far fa-hand-point-up"></i>
      </div>

      <div id="scoreWrapper" class="">
        <div id="placeholderScore" class="d-flex justify-content-around">
          <div id="placeholderXBackground">
            <i id="placeholderXIcon" class="scorePlaceholderIcon fas fa-times"></i>
          </div>
          <div id="placeholderHeartBackground">
            <i id="placeholderHeartIcon" class="scorePlaceholderIcon fas fa-heart"></i>
          </div>
        </div>
        <div id="scoreContainer" class="hidden">
          <canvas id="scoreCanvas"></canvas>
          <p id="scoreParagraph" class="text-center">SCORE</p>
        </div>
      </div>

      {% for id in dogs: %}
        {% if id == 0: %}
          <div id="doggo-number-{{id}}" data-id="{{id}}" data-total-votes="{{dogs[id][1]}}" data-hot-votes="{{dogs[id][2]}}" class="gameHotDoggo currentDoggo">
            <img class="doggoImg" src="{{ dogs[id][0] }}" />
          </div>
        {% else %}
        {% endif %}
      {% endfor %}
      {# if you put sth here it will break the game #}
    </div>

    <div id="sharedDoggoMsg" class="text-center hidden" data-shared-vote={{vote}}></div>

    <div id="utilityButtons" class="d-flex justify-content-center my-4">
      <button class="myButton mx-2" data-target="#shareModal" data-toggle="modal" id="shareButton">
        <i class="mr-2 fas fa-share-alt"></i>
        Share
      </button>
      <button id="summaryButton" class="myButton mx-2">
        <i class="mr-2 fas fa-bars"></i>
        Summary
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Share this pupper!</h5>
          </div>
          <div class="modal-body">
            <p class="mb-0">Link to the pupper:</p>
            <input onClick="this.setSelectionRange(0, this.value.length)" id="shareInput" readonly></input>
            <div id="copyShareLinkDiv" class="myTooltip">
              <button class="myButton" id="copyShareLinkButton" data-clipboard-target="#shareInput">
                <i id="copyShareLinkIcon" class="my-auto fas fa-clipboard"></i>
              </button>
              <span id="copyShareLinktt" class="myTooltiptext">Copy link!</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="myButton" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="summaryState" class="hidden">

    <h5 id="msgEnd"></h5>

    <h5 class="pileText" id="pHotPile">You have found these 0 dogs hot:</h5>
    <div id="hotDoggoPile" class="row ml-2 d-flex"></div>
    <h5 class="pileText mt-4" id="pNotPile">You have found these 0 dogs not hot:</h5>
    <div id="notHotDoggoPile" class="row ml-2 d-flex"></div>
    <hr/>

    <button id="backToGame" class="myButton mx-2">
      <i class="mr-2 fas fa-hotdog"></i>
      Back to Game
    </button>

    <button class="myButton mx-2" data-target="#shareSummaryModal" data-toggle="modal" id="shareSummaryButton">
      <i class="mr-2 fas fa-share-alt"></i>
      Share
    </button>

    <!-- Modal -->
    <div class="modal fade" id="shareSummaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Share this summary!</h5>
          </div>
          <div class="modal-body">
            <p class="mb-0">Link to the summary:</p>
            <input onClick="this.setSelectionRange(0, this.value.length)" id="shareSummaryInput" readonly></input>
            <div id="copyShareSummaryLinkDiv" class="myTooltip">
              <button class="myButton" id="copyShareSummaryLinkButton" data-clipboard-target="#shareSummaryInput">
                <i id="copyShareSummaryLinkIcon" class="my-auto fas fa-clipboard"></i>
              </button>
              <span id="copyShareSummaryLinktt" class="myTooltiptext">Copy link!</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="myButton" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>

  <script>
  </script>
  <link href="/static/hotdogstyles.css" rel="stylesheet">
  <script src="/static/hotScripts.js"></script>

{% endblock %}
