{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block head %}
  <link href="/static/styles/indexStyles.css" rel="stylesheet">
{% endblock %}


{% block main %}
<h2 class="text-center my-4">Choose game mode:</h2>
  <div class="row d-flex justify-content-around">
    <a href="/breedQuiz" class="cardLink">
      <div class="myCard text-center" id="breedCard">
        <h3 class="mt-2">Breed Quiz</h3>
        <p>For the Knowledgable</p>
        <img class="sampleDoggo" src="{{ dogs[0][0] }}"></img>
        <div class="row d-flex justify-content-center my-1">
          <button class="breedButton my-1 mx-1" id="button1"><i style="color: #FE938C;" class="fas fa-bone"></i></button>
          <button class="breedButton my-1 mx-1" id="button2"><i style="color: #AD91A3;" class="fas fa-bone"></i></button>
        </div>
        <div class="row d-flex justify-content-center my-1">
          <button class="breedButton my-1 mx-1" id="button3"><i style="color: #B33951;" class="fas fa-bone"></i></button>
          <button class="breedButton my-1 mx-1" id="button4"><i style="color: #91C7B1;" class="fas fa-bone"></i></button>
        </div>
      </div>
    </a>
    <a href="/hotdog" class="cardLink">
      <div class="myCard text-center" id="hotdogCard">
        <h3 class="mt-2">Hot Dog</h3>
        <p>For the Opinionated</p>
        <div class="dog-container">
          <img class="sampleDoggo" src="{{ dogs[1][0] }}"></img>

          <div id="scoreWrapper" class="">
            <div id="placeholderScore" class="d-flex justify-content-around">
              <div id="placeholderXBackground">
                <i id="placeholderXIcon" class="scorePlaceholderIcon fas fa-times"></i>
              </div>
              <div id="placeholderHeartBackground">
                <i id="placeholderHeartIcon" class="scorePlaceholderIcon fas fa-heart"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>

  <script>
  </script>

  <script src="/static/scripts/indexScripts.js"></script>

{% endblock %}
