{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}

  <div id="countdownOverlay">
    <div class="overlayContent">
      <h1 class="" id="countdownMsg"></h1>
      <p class="" id="countdownTooltip">More bones on higher streaks! Good luck!</p>
    </div>
  </div>

  <div id="game">
    <div class="d-flex justify-content-around">

      <div class="flex-sm-column">
        <p class="my-0" id="timerDisplay"><i style="color: #E16682;" class="rotating fas fa-bone"></i> </p>
      </div>

      <div class="flex-sm-column">
        <div class="flex-row">
          <p class="my-0 font-weight-bold">Bones</p>
          <p class="ml-1" id="scoreDisplay"><i style="color: #F6C5AF;" class="rotating fas fa-bone"></i></p>
        </div>

        <div class="flex-row">
          <p class="my-0 font-weight-bold">Streak</p>
          <p class="ml-1" id="streakDisplay"><i style="color: #C2714F;" class="rotating fas fa-bone"></i></p>
        </div>
      </div>

      <div class="flex-sm-column my-auto">
        <i class="fa fa-volume-up" id="toggleSound"></i>
      </div>


    </div>

    <div id="messageWrapper">
      <h3 id="message" class="text-center"></h3>
      <p id="messageParagraph" class="text-center"></p>
    </div>

    <div id="dog-container" class="text-center">

      {% for id in dogDict: %}
        {% if id == 0: %}
          <div id="doggo-number-{{id}}" data-id="{{id}}" data-breed="{{ dogDict[id][1] }}" class="gameDoggo currentDoggo">
            <img class="doggoImg" data-you-are-a-cheater="true" src="{{ dogDict[id][0] }}" />
          </div>
        {% else %}
        {% endif %}
      {% endfor %}

    </div>

    <div class="row d-flex justify-content-center my-1">
      <button class="breedButton my-1 mx-1" id="button1"><i style="color: #FE938C;" class="rotating fas fa-bone"></i></button>
      <button class="breedButton my-1 mx-1" id="button2"><i style="color: #AD91A3;" class="rotating fas fa-bone"></i></button>
    </div>
    <div class="row d-flex justify-content-center my-1">
      <button class="breedButton my-1 mx-1" id="button3"><i style="color: #B33951;" class="rotating fas fa-bone"></i></button>
      <button class="breedButton my-1 mx-1" id="button4"><i style="color: #91C7B1;" class="rotating fas fa-bone"></i></button>
    </div>
  </div>

  <div id="hscoreEntryState" class="hidden">

    <h5 id="msgEnd"></h5>

    <p>You have guessed <span id="spanNCorrect">these 0 doggos</span> correctly: </p>
    <div id="correctDoggoPile" class="row ml-2 d-flex"></div>
    <p>You will guess <span id="spanNIncorrect">these 0 doggos</span> next time: </p>
    <div id="incorrectDoggoPile" class="row ml-2 d-flex"></div>
    <hr/>

    <form class="" id="hscoreEntry" action="/hscoreEntry" method="post">
      <h5> Submit your high score: </h5>

      <div class="form-group">
        <span>Score: </span>
        <span id="db-score"></span>
        <input name="score" class="hidden" value="" id="form-score"></input>
      </div>

      <div class="form-group">
        <label for="username">Nickname: </label>
        <input class="form-control" maxlength="255" name="username" id="db-user" placeholder="Chihuahua"></input>
        <p class="" id="db-user-error-msg"></p>
      </div>

      <div class="form-group mt-2">
        <label for="favBreed">Favourite breed: </label>
        <input class="form-control" list="allBreeds" name="favBreed" placeholder="Chihuahua" id="favBreed"></input>
        <p class="" id="db-favBreed-error-msg"></p>
        <datalist id="allBreeds">
          {% for breed in ALL_BREEDS: %}
            <option value="{{ breed }}">
          {% endfor %}
        </datalist>
      </div>

      <div id="subButtonWrapper" class="form-group mb-2">
        <button class="btn btn-light" id="subHscoreButton" type="submit">Submit</button>
        <p id="submitHscoreSuccess" class="hidden">Your high score was submitted.</p>
      </div>

    </form>

    <hr/>

    <div class="form-group mt-5">
      <button class="btn btn-primary" id="gameReset"><i style="color: #FE938C;" class="rotating fas fa-bone"></i><i style="color: #FE938C;" class="rotating fas fa-bone"></i><i style="color: #FE938C;" class="rotating fas fa-bone"></i></button>
      <a class="ml-2" href="/highscores"><button id="highscoresButton" class="btn btn-light">Highscores</button></a>
    </div>

  </div>

  <script>
  </script>

  <script src="/static/scripts.js"></script>

{% endblock %}
