{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
  <div id="countdownOverlay">
    <div class="overlayContent">
      <h1 class="" id=countdownMsg></h1>
    </div>
  </div>

  <div id="game">
    <div class="row">
      <div class="col text-right">
        <p class="my-0 font-weight-bold">Bones</p>
        <p id="scoreDisplay"><i style="color: #FE938C;" class="rotating fas fa-bone"></i></p>
      </div>

      <div class="col text-center">
        <p class="my-0 font-weight-bold">Streak</p>
        <p id="streakDisplay"><i style="color: #FE938C;" class="rotating fas fa-bone"></i></p>
      </div>

      <div class="col text-left">
        <p class="my-0 font-weight-bold">Time</p>
        <p class="my-0" id="timerDisplay"><i style="color: #FE938C;" class="rotating fas fa-bone"></i> </p>
      </div>
    </div>


    <div id="dog-container" class="text-center">
      {% for id in dogDict: %}
        {% if id == 0: %}
          <div id="doggo-number-{{id}}" data-id="{{id}}" data-breed="{{ dogDict[id][1] }}" class="gameDoggo currentDoggo">
            <img class="doggoImg" src="{{ dogDict[id][0] }}" />
          </div>
        {% else %}
          <div id="doggo-number-{{id}}" data-id="{{id}}" data-breed="{{ dogDict[id][1] }}" class="gameDoggo hidden">
            <img class="doggoImg" src="{{ dogDict[id][0] }}" />
          </div>
        {% endif %}
      {% endfor %}
    </div>

      <div class="row my-2">
        <div class="col-sm text-center">
          <h4 id="message" class="text-center">The higher the streak, the more bones you get! Good luck!</h4>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <button class="breedButton mx-2 my-2 btn btn-light" id="button1"><i style="color: #FE938C;" class="rotating fas fa-bone"></i></button>
        <button class="breedButton mx-2 my-2 btn btn-light" id="button2"><i style="color: #AD91A3;" class="rotating fas fa-bone"></i></button>
        <button class="breedButton mx-2 my-2 btn btn-light" id="button3"><i style="color: #EDAF97;" class="rotating fas fa-bone"></i></button>
      </div>
      <div class="row d-flex justify-content-center">
        <button class="breedButton mx-2 my-2 btn btn-light" id="button4"><i style="color: #B33951;" class="rotating fas fa-bone"></i></button>
        <button class="breedButton mx-2 my-2 btn btn-light" id="button5"><i style="color: #91C7B1;" class="rotating fas fa-bone"></i></button>
        <button class="breedButton mx-2 my-2 btn btn-light" id="button6"><i style="color: #E3D081;" class="rotating fas fa-bone"></i></button>
      </div>
    </div>

  <div id="hscoreEntryState" class="hidden">

    <p>You got them right doggos: </p>
    <div id="correctDoggoPile" class="row d-flex"></div>
    <p>You will get them next time doggos: </p>
    <div id="incorrectDoggoPile" class="row d-flex"></div>

    <form id="hscoreEntry" action="/hscoreEntry" method="post">

      <div class="row my-2">
        <p>Your score: <span id="db-score"></span></p>
        <input name="score" class="hidden" value="" id="form-score"></input>
      </div>

      <div class="row my-2">
        <label for="username">Your nickname: </label>
        <input class="ml-2" maxlength="3" name="username" id="db-user" placeholder="DOE"></input>
        <span class="mx-2" id="db-user-error-msg"></span>
      </div>

      <div class="row my-2">
        <label for="favBreed">Your favourite breed: </label>
        <input class="ml-2" list="allBreeds" name="favBreed" placeholder="Chihuahua" id="favBreed"></input>
        <span class="mx-2" id="db-favBreed-error-msg"></span>
        <datalist id="allBreeds">
          {% for breed in ALL_BREEDS: %}
            <option value="{{ breed }}">
          {% endfor %}
        </datalist>
      </div>

      <div id="subButtonWrapper" class="row my-2">
        <button id="subHscoreButton" type="submit">submit</button>
        <p id="submitHscoreSuccess" class="hidden">Your high score was submitted!</p>
      </div>

    </form>

    <div class="row my-4">
      <button id="gameReset"><i style="color: #FE938C;" class="rotating fas fa-bone"></i></button>
      <a class="ml-2" href="/highscores"><button>highscores</button></a>
    </div>

  </div>

  <script>
  </script>

  <script src="/static/scripts.js"></script>

{% endblock %}
