{% extends "layout.html" %}

{% block title %}
    Info
{% endblock %}

{% block main %}
  <p>The game was made for and with the help of <span id="mJu">mJu.</span></p>
  <p>It would not be possible to do it without the consultation from <a href="https://brs.sh/">BorsukLabs.</a></p>
  <p>Big thanks to Diablo Kabaty for testing.</p>
  <p>Waiting doggo art by Jaskrawy Bogdan.</p>

  <hr/>

  <p>Consider supporting your local animal shelter.</p>
  <p>
    Alternatively, give your money to:
    <a href="https://www.four-paws.org/">https://www.four-paws.org/</a>
  </p>

  <hr/>

  <p>
    So Long, and Thanks for All the Dogs:
    <a href="https://dog.ceo/dog-api">https://dog.ceo/dog-api/</a> &
    <a href="https://vision.stanford.edu/aditya86/ImageNetDogs/">https://vision.stanford.edu/aditya86/ImageNetDogs/</a>
  </p>

{# I'm not using punny dog names
  <p>
    I've taken punny dog names from this website:
    <a href="https://www.thesprucepets.com/punny-names-for-dogs-4842364">https://www.thesprucepets.com/punny-names-for-dogs-4842364</a>
  </p>
#}

  <p>
    All sounds are from:
    <a href="https://opengameart.org/content/library-of-game-sounds">https://opengameart.org/content/library-of-game-sounds</a>
  </p>


  <hr/>
{# I am collecting the bare minimum for the site to function
  <p>I am collecting only data. Feel free to grab the database from here: <a href="#">link</a>.</p>
#}
  <p>I am not monetizing this game in any way.</p>
  <p>You can find my code on <a href="https://github.com/bernardLis/doggo">GitHub</a></p>
  <p>You can contact me on <a href="https://twitter.com/bernardlisss">Twitter</a></p>

  <hr/>

  <script>
  </script>

{% endblock %}
