{% extends "layout.html" %}

{% block title %}
    Info
{% endblock %}

{% block main %}
  <p>The game was made for and with the help of <span id="mJu">mJu.</span></p>

  <hr/>

  <p>Consider supporting your local animal shelter.</p>
  <p>
    Alternatively, give your money to them:
    <a href="https://www.four-paws.org/">https://www.four-paws.org/</a>
  </p>

  <hr/>


  <p>
    So Long, and Thanks for All the Dogs:
    <a href="https://dog.ceo/dog-api">https://dog.ceo/dog-api/</a> &
    <a href="http://vision.stanford.edu/aditya86/ImageNetDogs/">http://vision.stanford.edu/aditya86/ImageNetDogs/</a>
  </p>
  <p>
    I've taken punny dog names from this website:
    <a href="https://www.thesprucepets.com/punny-names-for-dogs-4842364">https://www.thesprucepets.com/punny-names-for-dogs-4842364</a>
  </p>
  <p>
    I've lost the website from which I have taken lists of adjectives.
  </p>
  <hr/>

  <p>I am not collecting any data. I am not monetizing this game in any way.</p>
  <p>You can find my code on <a href="https://github.com/bernardLis/doggo">GitHub</a></p>
  <p>You can contact me on <a href="https://twitter.com/bernardlisss">Twitter</a></p>

  <hr/>

  <p>Things I might do someday:</p>
  <ul class="boneList">
    <li>Summary of correct / incorrect doggos easily shareble with friends</li>

    <li>Story mode</li>
    <li>Unlimited time mode</li>
    <li>Hot or Not mode</li>

  </ul>


  <script>
  </script>

{% endblock %}
