/* General styles */
html, body
{
  overflow-x: hidden;
  height: 100%;
}
main
{
  /* center contents */
  margin: 0 auto;
}
.hidden
{
  display: none;
}

/* Navigation */
.navbar
{
  background-color: #1c1c1c;
}
.nav-item
{
  margin: 0 1rem;
}
.navLink
{
  padding: 0.2rem;
  color: #ababab;
  user-select: none;
}
#toggleSound
{
  cursor: pointer;
}
/* unvisited link */
.navLink:link {
  color: #ababab;
  text-decoration: none;
}
/* visited link */
.navLink:visited {
  color: #ababab;
  text-decoration: none;
}
/* mouse over link */
.navLink:hover {
  transition: 0.2s linear;
  color: #dedede;
  text-decoration: none;
}
/* selected link */
.navLink:active {
  color: #dedede;
  text-decoration: none;
}

.myButton
{
  width: 100px;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
}
.myButton:hover
{
  filter: brightness(95%);
  transform: scale(1.02);
  transition: all .2s linear;
}
.myButton:active
{
  filter: brightness(105%);
  transform: scale(0.98);
  transition: all .2s linear;
}


#shareButton
{
  width: 120px;
}
#summaryButton
{
  width: 120px;
}

#shareModal, #shareSummaryModal
{
  padding: 0;
  overflow: hidden;
}
#shareInput, #shareSummaryInput
{
  width: 250px;
}
#copyShareLinkButton, #copyShareSummaryLinkButton
{
  width: 2rem;
  padding-top: 0;
  padding-bottom :0;
}
#copyShareLinkIcon
{
}



#countdownOverlay
{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlayContent
{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#boneCircleContainer
{
  width: 200px;
  height: 200px;
  position: relative;
}
#waitingDoggo
{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 51px;

  position: absolute;
}
.boneCircleBone
{
  font-size: 2rem;
  position: absolute;
}

#countdownMsg
{
  height: 2rem;
  font-size: 2rem;
  color: white;
}
#countdownTooltip
{
  margin-top: 5rem;
  color: white;
  font-size: 2rem;

}

/* Info styles */
ul.boneList {
  list-style:none;
  padding-left: 2em;
  list-style-image: url(bone-solid.svg);
}

#mJu
{
  -webkit-animation: changeColor 5s linear infinite;
  animation: changeColor 5s linear infinite;
}
@-webkit-keyframes changeColor {
  0% { color: #f99; }
  33% { color: #9f9; }
  67% { color: #99f; }
  100% { color: #f99; }
}
@keyframes changeColor {
  0% { color: #f99; }
  33% { color: #9f9; }
  67% { color: #99f; }
  100% { color: #f99; }
}


/* https://stackoverflow.com/questions/6410730/css-endless-rotation-animation */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s ease-out infinite;
  -moz-animation: rotating 2s ease-out infinite;
  -ms-animation: rotating 2s ease-out infinite;
  -o-animation: rotating 2s ease-out infinite;
  animation: rotating 2s ease-out infinite;
}


/* text transition by me */
@-webkit-keyframes textScaling /* Safari and Chrome */ {
  from {
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
}
@keyframes textScaling {
  from {
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
}
.textScaling {
  -webkit-animation: textScaling 1s ease-out infinite;
  -moz-animation: textScaling 1s ease-out infinite;
  -ms-animation: textScaling 1s ease-out infinite;
  -o-animation: textScaling 1s ease-out infinite;
  animation: textScaling 1s ease-out infinite;
}


/*https://www.w3schools.com/css/css_tooltip.asp*/
.myTooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.myTooltip .myTooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.myTooltip:hover .myTooltiptext {
  visibility: visible;
}

.myTooltip .myTooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.modal-open[style]
{
  padding-right: 0px !important;
}


/* Mobile */
@media (max-width: 1001px)
{
  #countdownMsg
  {
    font-size: 1rem;
  }
}
@media (max-width: 900px)
{

}

@media (max-width: 370px)
{
  #shareInput, #shareSummaryInput
  {
    width: 230px;
  }
}
@media (max-width: 300px)
{
  #shareInput, #shareSummaryInput
  {
    width: 190px;
  }
}
