/* General styles */
html,body
{
    width: 100%;
}
.hidden
{
  display: none;
}

/* Game styles*/
.dog-container
{
  positon: relative;
}
#gameState
{
  position: relative;
}
.doggoImg
{
  object-fit: contain;
  max-width:100%;
  max-height:100%;
}

/* Overlays */
.hotornoticon
{
  font-size: 5rem;
}

/* not hot */
#notHotOverlay
{
  z-index: 1;
  position: absolute;
  left: 0px;
  width: 50%;
  overflow:hidden;
  background-color: rgba(240, 127, 131, 0.5);
  opacity: 0;
  cursor: pointer;
}
#xicon
{
  position: absolute;
  top: 33%;
  left: 25%;
  color: rgba(240, 127, 131);
}

/* hot */
#hotOverlay
{
  z-index: 1;
  position: absolute;
  right: 0px;
  width: 50%;
  overflow:hidden;
  background-color: rgba(85, 221, 171, 0.5);
  opacity: 0;
  cursor: pointer;
}
#heartIcon
{
  position: absolute;
  top: 33%;
  right: 25%;
  color: rgba(85, 221, 171);
}

/* next */
#nextOverlay
{
  z-index: 1;
  position: absolute;
  left: 0px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(127, 38, 193, 0.4);
  opacity: 0;
  cursor: pointer;
}
#nextIcon
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #BD9EA8;
  font-size: 5rem;
}
#nextText
{
  user-select: none;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* Score */
#scoreWrapper
{
  z-index: -1;
  position: absolute;
  left: 0px;
  height: 70px;
  width: 100%;
  overflow: hidden;
}
#placeholderScore
{
  height: 50px;
}
#placeholderXBackground
{
  position: absolute;
  left: 0px;
  width: 50%;
  overflow: hidden;
  background-color: rgba(240, 127, 131, 0.2);
}
#placeholderXIcon
{
  color: rgba(240, 127, 131, 0.7);
}
#placeholderHeartBackground
{
  position: absolute;
  right: 0px;
  width: 50%;
  overflow: hidden;
  background-color: rgba(85, 221, 171, 0.2);
}
#placeholderHeartIcon
{
  color: rgba(85, 221, 171, 0.7);
}
.scorePlaceholderIcon
{
  font-size: 3rem;
}
#scoreParagraph
{
  font-size: 0.8rem;
}
.height100
{
  height: 100px;
}

/* Utility buttons */
#utilityButtons
{
  position: fixed;
  bottom: 10px;
  right: 0px;
  width: 100%;
}


/* ## Summary ## */
.doggoPile
{
  height: 100px;
}
#backToGame
{
  width: 150px;
}
#PlayTheGame
{
  width: 200px;
}
.pileText
{
}


/* Mobile */
@media (max-width: 900px)
{
}
@media (max-width: 370px)
{
}
@media (max-width: 300px)
{
}
